body{
  background-color: gray;
}
.burger{
  display: flex;
  flex-direction: column;
}
.line{
  position: relative;
  width: 40px;
  height: 3px;
  border-radius: 10%;
  background-color: white;
  animation-direction: alternate;
}

.line1{
  top: 0px;
  animation: top 1s;
  animation-fill-mode: both ;
}
.line2{
  position: relative;
  animation: middle 0.5s;
  animation-fill-mode: both ;
  top: 9px;
}
.line3{
  top: 18px;
  animation: bottom 1s ;
  animation-fill-mode: both ;
}
@keyframes top {
  0%{top: 0px; transform: rotate(0deg);}
  50%{top: 12px;transform: rotate(0deg);}
  100%{top: 12px; transform: rotate(-45deg);}
}
@keyframes bottom {
  0%{top: 18px; transform: rotate(0deg);}
  50%{top: 6px;transform: rotate(0deg);}
  100%{top: 6px; transform: rotate(45deg);}
}
@keyframes middle {
  0%{visibility: visible;}
  100%{visibility: hidden;}
}
